.place__website {
    margin: 0;
    padding: 0 16px 0 16px;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

@media (min-width: 768px) {
    .place__website {
        align-self: flex-end;
        padding: 0;
    }
}